.header {
  background: #6d6db6;
  color: #fff;
  font-weight: 300;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header a {
    padding: .2rem;
    border-radius: 3px; }

.logo {
  color: #fff;
  font-size: 1.2rem;
  margin: 0rem 1rem;
  transition: background-color .3s; }
  .logo:hover {
    background-color: #7cda96; }

.light {
  font-weight: 100;
  opacity: 0.7; }

.user-content {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.user-info {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  border-left: 1px solid rgba(27, 26, 89, 0.3); }

.user-profile {
  height: 2rem;
  width: 2rem;
  border-radius: 100%; }

.user-name {
  padding: 0rem .5rem;
  font-weight: 300; }

main {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    main {
      width: 92%; } }

section {
  width: 100%;
  margin: 0 auto;
  padding: .75rem 1rem;
  border-bottom: 1px solid #b2b2b2; }

@media screen and (min-width: 768px) {
  section.messages,
  section.settings {
    border-bottom: none; } }

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex; }
    .wrapper section:first-of-type {
      border-right: 1px solid #b2b2b2; } }

@media screen and (min-width: 1024px) {
  .wrapper-desktop {
    display: flex;
    height: 100%;
    width: 100%; } }

.wrapper-top {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .wrapper-top h1 {
    padding: .3rem 1rem; }

.wrapper-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #e7e7e7;
  border: 1px solid rgba(78, 86, 93, 0.3);
  width: 90%; }

.search {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  margin-right: 1rem;
  width: 90%; }
  .search button {
    padding: 0rem .5rem;
    transition: background-color .1s; }
    .search button:hover {
      background-color: #7cda96; }

#searchbox {
  margin-right: .5rem;
  height: 2rem;
  width: 85%;
  border: none;
  background: transparent;
  padding-left: .5rem; }

.fa-search {
  transition: background-color .1s; }
  .fa-search:hover {
    color: white; }

.line-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.chart-container {
  display: flex;
  position: relative;
  margin: auto;
  height: 40vh;
  width: 100%; }

nav {
  background-color: #21206f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem; }
  @media screen and (min-width: 1024px) {
    nav {
      flex-direction: column;
      height: auto;
      justify-content: flex-start;
      width: 8%; } }

.nav-icon {
  height: 3rem;
  width: 3rem;
  padding: .5rem;
  opacity: .6;
  transition: opacity 0.3s;
  transition: border-left 0.3s;
  border: 3px outset transparent; }
  .nav-icon:hover {
    opacity: 1.0;
    border-left: 3px outset #7cda96; }

#icon-bell {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0rem 1rem;
  transition: background-color .3s; }
  #icon-bell:hover {
    background-color: #6fa7b8; }
  @media screen and (min-width: 1024px) {
    #icon-bell {
      height: 1.75rem;
      width: 1.75rem; } }

button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #7f8a94; }

.btn-line {
  border-radius: 25px;
  font-size: 0.7em;
  transition: background-color .1s, color .1s;
  color: rgba(78, 86, 93, 0.7);
  margin-left: 5px;
  padding: 3px 10px; }
  .btn-line:focus {
    background-color: #7cda96;
    color: #fff; }

.go {
  background-color: #6d6db6;
  display: block;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  height: 2.5rem;
  margin: .5rem auto;
  border-radius: 4px;
  transition: background-color .1s;
  text-align: center; }

button.go:hover {
  background-color: #7cda96; }

.button-wrapper {
  display: flex;
  justify-content: space-between;
  clear: left; }

#save {
  color: #fff;
  text-transform: uppercase;
  height: 2.5rem;
  margin: .5rem auto;
  border-radius: 4px;
  transition: background-color .1s;
  text-align: center;
  background-color: #6d6db6;
  width: 45%;
  margin-left: 0; }
  #save:hover {
    background-color: #7cda96; }

#cancel {
  color: #fff;
  text-transform: uppercase;
  height: 2.5rem;
  margin: .5rem auto;
  border-radius: 4px;
  transition: background-color .1s;
  text-align: center;
  background-color: #b2b2b2;
  width: 45%;
  margin-right: 0; }
  #cancel:hover {
    background-color: #cf2020; }

.selectdiv {
  position: relative;
  float: left; }
  .selectdiv:after {
    content: '\f107';
    font: normal normal normal 1.75rem FontAwesome;
    right: .5rem;
    top: 1.75rem;
    height: 3rem;
    padding: 0;
    position: absolute;
    pointer-events: none; }
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    padding-left: .5rem;
    height: 2rem;
    color: #7f8a94;
    background-color: #e7e7e7;
    background-image: none;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    -ms-word-break: normal;
    word-break: normal; }
  .selectdiv label {
    display: none; }

/* IE11 hide native button */
select::-ms-expand {
  display: none; }

option#placeholder {
  color: red; }

.wrapper-switch {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.switch-span {
  display: inline-block;
  width: 10rem;
  font-size: .8rem; }

.onoffswitch {
  display: inline-block;
  position: relative;
  width: 5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .onoffswitch-checkbox {
    display: none; }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #E3E3E3;
    border-radius: 36px; }
  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s; }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 27px;
      padding: 0;
      line-height: 27px;
      font-size: 15px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box; }
    .onoffswitch-inner:before {
      content: "ON";
      padding-left: 10px;
      background-color: #6d6db6;
      color: #fff;
      font-size: .8rem; }
    .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 10px;
      background-color: #e7e7e7;
      color: #8f8fc7;
      text-align: right; }
  .onoffswitch-switch {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin: .3rem;
    background: #8f8fc7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 52px;
    border: 1px solid #b2b2b2;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #fff; }

#wrapper-alert {
  background-color: #6d6db6;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  margin: .5rem auto;
  border-radius: 3px; }

.alert {
  padding: .5rem 1rem; }
  .alert-text {
    display: flex;
    justify-content: flex-start;
    align-items: center; }

.close, .modal-close {
  color: #7cda96;
  font-size: 1rem;
  padding: .2em .35em;
  margin: .5em;
  text-align: center;
  font-weight: 100;
  border: 1px solid transparent;
  border-radius: 100%; }
  .close:hover, .modal-close:hover {
    color: #fff; }

.new-members {
  padding-bottom: 1rem; }

.member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(178, 178, 178, 0.5);
  width: 95%; }
  .member:last-child {
    border-bottom: none; }
  .member-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .member-profile {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: .75rem .5rem .75rem 0rem; }
  .member-info {
    display: flex;
    flex-direction: column;
    margin-left: .5rem; }
  .member-name {
    font-size: .8rem; }
  .member-email {
    font-size: .75rem;
    opacity: 0.4; }
    .member-email:hover {
      opacity: 1; }

.date {
  font-size: .75rem; }

/*-----------Recent Activity Section---------------*/
.post-time {
  font-size: .75rem; }

.arrow {
  font-size: 1.8rem;
  text-align: center;
  border-radius: 100%;
  padding: .1rem .25rem;
  transition: transform .2s, color .2s; }
  .arrow:hover {
    transform: scale(1.3);
    color: #7cda96; }

/*-----------Message User Section---------------*/
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #7f8a94;
  padding-left: .75rem;
  padding-top: .5rem;
  font-family: 'Lato', sans-serif; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7f8a94;
  font-family: 'Lato', sans-serif; }

#message-user {
  margin: 0 auto;
  width: 100%; }
  #message-user input {
    background-color: #e7e7e7;
    border: 1px solid #b2b2b2;
    color: #7f8a94;
    margin: .5rem auto;
    border-radius: 4px;
    padding: .5rem .5rem;
    width: 100%; }
  #message-user textarea {
    background-color: #e7e7e7;
    border: 1px solid #b2b2b2;
    color: #7f8a94;
    margin: .5rem auto;
    border-radius: 4px;
    padding: .5rem .5rem;
    width: 100%;
    height: 10rem;
    resize: none; }

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .settings label {
    font-size: .8rem;
    margin-bottom: .3rem;
    display: flex;
    flex-direction: column; }
  .settings form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }

.soc-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media screen and (min-width: 768px) {
    .soc-group {
      flex-direction: row;
      justify-content: space-around; } }

.soc-badge {
  background-color: #efefef;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin: .5rem auto; }
  @media screen and (min-width: 768px) {
    .soc-badge {
      width: 30%; } }

.soc-icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: .5rem;
  background-color: #6d6db6;
  border-radius: 100%;
  margin: .5rem; }

.soc-stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 2rem; }

.numbers {
  font-size: 1.8em;
  font-weight: 300;
  color: #66717b; }

#notify-dot {
  background-color: #7cda96;
  height: .4rem;
  width: .4rem;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: none;
  display: flex; }

.drop-down-item {
  font-size: .8rem;
  color: #7f8a94;
  padding: 2px; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #8f8fc7;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border-radius: 3px;
  width: 80%;
  /* Could be more or less, depending on screen size */
  display: flex;
  border: 1px solid white; }

.close-wrapper {
  border: 1px solid white; }

.model-alerts {
  display: flex;
  flex-direction: column; }

/* The Close Button */
.modal-close {
  float: right; }
  .modal-close:hover {
    cursor: pointer; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  color: #7f8a94; }

h1 {
  font-size: 1em;
  font-weight: 400; }

h2 {
  font-size: .75rem;
  text-transform: uppercase;
  color: rgba(78, 86, 93, 0.7);
  margin: 1rem 0; }

h3 {
  color: #6d6db6;
  font-size: .9rem;
  margin: auto;
  display: inline-block;
  margin-left: 0; }

h4 {
  font-size: .8rem;
  padding-left: 1rem;
  margin: auto; }

ul {
  list-style: none; }

a:link {
  text-decoration: none; }

input, select {
  font-size: .8rem; }

/*# sourceMappingURL=style.css.map */
