@import 'utilities/variables';

@import 'layout/header',
        'layout/containers',
        'layout/chart';

@import 'components/nav',
        'components/icons',
        'components/buttons',
        'components/select-menu', //messing with arrow icon in select menu
        'components/switch',
        'components/alert',
        'components/new-members',
        'components/recent-activity',
        'components/message',
        'components/settings',
        'components/social';

@import 'base/base';


/*-----------Media Queries for Large Screen Size---------------*/

@media screen and (min-width: 1024px) {

   .nav-icon {
     height: 3rem;
     width: 3rem;
     padding: .5rem;
     opacity: .6;
   }
}
