//============================================
// MIXINS ------------------------------------ /
//============================================
@mixin btn {
  color: $white;
  text-transform: uppercase;
  height: 2.5rem;
  margin: .5rem auto;
  border-radius: 4px;
  transition: background-color .1s;
  text-align: center;
}
