//============================================
// Button Styles
//============================================

button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: $color-text;
}

//--Traffic chart buttons------------------------
.btn-line {
  border-radius: 25px;
  font-size: 0.7em;
  transition: background-color .1s, color .1s;
  color: rgba(78,86,93,0.7);
  margin-left: 5px;
  padding: 3px 10px;
  &:focus {
    background-color: $color-secondary;
    color: $white;
  }
}


//----Send button ---------------------

.go {
  background-color: $color-primary;
  display: block;
  width: 100%;
  @include btn
}

button.go:hover {
    background-color: $color-secondary;
}

//----Submit and Cancel buttons ---------------------

.button-wrapper {
  display: flex;
  justify-content: space-between;
  clear: left;
}

#save {
  @include btn;
  background-color: $color-primary;
  width: 45%;
  margin-left: 0;
  &:hover {
    background-color: $color-secondary;
  }

}

#cancel {
  @include btn;
  background-color: $color-border;
  width: 45%;
  margin-right: 0;
  &:hover {
    background-color: $color-warning;
  }
}
