//============================================
// Icon Styles
//============================================
.nav-icon {
  height: 3rem;
  width: 3rem;
  padding: .5rem;
  opacity: .6;
  transition: opacity 0.3s;
  transition: border-left 0.3s;
  border: 3px outset transparent;
  &:hover {
    opacity: 1.0;
    border-left: 3px outset $color-secondary;
  }
}
