//****************Select Menu***************

.selectdiv {
  position: relative;
  float: left;
  &:after {
    content: '\f107';
    font: normal normal normal 1.75rem FontAwesome;
    right: .5rem;
    top: .4rem;
    height: 3rem;
    padding: 0;
    position: absolute;
    pointer-events: none;
  }
  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: $max-width;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    padding-left: .5rem;
    height: 2rem;
    color: $color-text;
    background-color: $color-bg;
    background-image: none;
    border: 1px solid $color-border;
    border-radius: 4px;
    -ms-word-break: normal;
    word-break: normal;
  }
  & label {
    display: none;
  }
}

/* IE11 hide native button */
select::-ms-expand {
display: none;
}

option#placeholder{
    color: red;
}
